<launch>
  <arg name="n"/>
  <arg name="joint_publish"/>
  <arg default="$(find grip_description)/urdf/grip.xacro" name="model"/>
  <arg default="true" name="gui"/>
  <arg default="$(find grip_description)/launch/urdf.rviz" name="rvizconfig"/>
  <param command="$(find xacro)/xacro $(arg model) n:=$(arg n)" name="robot_description"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg joint_publish)">
    <param name="rate" value="100" />
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
  </node>
  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>
</launch>
